.menu-item{
    color: #3b3c54;
}
.image{
    width: 35px;
    height: 35px;
}
.right ul li{
    list-style-type: none;
    display: inline;
}
.header{
    box-shadow: 0px 2px 5px 3px #e2dfdf;
    -moz-box-shadow: 0px 2px 5px 3px #e2dfdf;
    -webkit-box-shadow: 0px 2px 5px 3px #e2dfdf;
    -o-box-shadow: 0px 2px 5px 3px #e2dfdf;
    -ms-box-shadow: 0px 2px 5px 3px #e2dfdf;
}

