.ck .ck-editor__main{
    height: 600px;
}
.ck.ck-reset.ck-editor.ck-rounded-corners{
    height: 100%;
}
.ck-content{
    height: 100%;
}
.create-blog-content{
    height: 100%;
}
.editor-blog{
    height: 100%;
}
.create-blog{
    height: 100%;
    margin-bottom: 1rem;
}
/* Tags */
.tags-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #d4d4d8;
    margin: 1rem 0;
    background-color: #fff;
    height: auto;
}
.tags{
    height: 100%;
    padding: 5px;
}
.tags span{
    display: inline-block;
    background-color: #F4F4F5;
    border-radius: 5px;
    color: #96969b;
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 2px;
}
.input{
    flex-grow: 1;
}
.input input{
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: 0;
    font-size: 15px;
}
/* Summary */
.summary{
    display: flex;
    margin-bottom: 1rem;
}
.summary textarea{
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #d4d4d8;
    resize: none;
    margin-right: 10px;
    max-height: 200px;
    min-height: 175px;
    font-size: 15px;
}
.summary .upload-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tags span i:hover{
    opacity: 0.8;
    cursor: pointer;
}
/* Actions */
.actions{
    text-align: right;
}
.actions button + .publish{
    margin-left: 15px;
}
.publish{
    display: inline-block;
    position: relative;
}
.publish-box{
    height: auto;
    display: none;
    z-index: 99999;
    position: absolute;
    text-align: left;
    background-color: #fff;
    padding: 10px 25px;
    margin-top: 10px;
    width: 350px;
    max-width: 350px;
    right: 0;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    z-index: 999;
}
.publish-box::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-right: 32px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #fff transparent;
    z-index: 999;
  }
.publish-box p{
    font-size: 15px;
    margin-bottom: 10px;
}
.publish-option input, .publish-option label{
    display: inline-block;
}
.publish-option label{
    margin: 0;
    font-size: 14px;
}
.publish-option input{
    margin-right: 1rem;
}
.option-description{
    display: none;
    margin-bottom: 10px;
}
.option-description p{
    font-size: 14px;
}
.option-description button{
    font-size: 13px;
}
input#private:checked ~ #private-description{
    display: block;
}
input#draft:checked ~ #draft-description{
    display: block;
}
input#public:checked ~ #public-description{
    display: block;
}
.overload{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
}
@media (min-width: 350px) { 
    .ck .ck-editor__main{
        max-height: 350px;
    }
}
@media (min-width: 576px) { 
    .ck .ck-editor__main{
        max-height: 350px;
    }
}
@media (min-width: 768px) { 
    .ck .ck-editor__main{
        height: 600px;
        max-height: 600px;
    }
}
@media (min-width: 992px) { 
    .ck .ck-editor__main{
        height: 600px;
        max-height: 600px;
    }
}
@media (min-width: 1200px) { 
    .ck .ck-editor__main{
        height: 600px;
        max-height: 600px;
    }
}
