.ck.ck-reset.ck-editor.ck-rounded-corners, .ck .ck-editor__main{
    height: 100%;
}
.ck-content{
    height: 90%;
}
.editor-blog{
    height: 100%;
    transition: all linear 0.5;
}
@media (min-width: 350px) { 
    .editor-blog{
        height: 80%;
        max-height: 400px;
        transition: all linear 0.5;
    } 
}
@media (min-width: 576px) { 
    .editor-blog{
        height: 80%;
        max-height: 400px;
        transition: all linear 0.5;
    } 
}
@media (min-width: 768px) { 
    .editor-blog{
        height: 100%;
        max-height: 700px;
        transition: all linear 0.5;
    } 
}
@media (min-width: 992px) { 
    .editor-blog{
        height: 100%;
        max-height: 700px;
        transition: all linear 0.5;
    } 
}
@media (min-width: 1200px) { 
    .editor-blog{
        height: 100%;
        max-height: 700px;
        transition: all linear 0.5;
    } 
}
