/* List-comments */
#list-comments{
    margin: 1rem 0;
    box-sizing: border-box;
    display: block;
    max-height: 550px;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
}
.cmt-content{
    padding: 1rem;
}
.feedback{
    margin-left: 66px;
}
.feedback-feedback{
    margin-left: 66px;
    display: none;
}
.feedback-cmt{
    display: none;
}