.blog-tags-list{
    margin-top: 25px;
}
.blog-tags-list li:hover{
    cursor: pointer;
    opacity: 0.8;
}
.blog-tags-list li{
    background-color: #EBEBEB;
    border-radius: 15px; 
    padding: 5px 9px; 
    display: inline-block; 
}