.blog-tags-list{
    margin-top: 25px;
}
.blog-tags-list li:hover{
    cursor: pointer;
    opacity: 0.8;
}
.blog-tags-list li{
    background-color: #EBEBEB;
    border-radius: 15px; 
    padding: 5px 9px; 
    display: inline-block; 
}
.comment{
    display: flex;
    width: 100%;
}
.comment-avatar img{
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
}
.comment-type{
    flex-grow: 1;
    display: flex;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
}
textarea{
    flex-grow: 1;
    border: none;
    background-color: #f8f9fb;
    padding: 5px 10px;
}
textarea:focus{
    outline: none;
}
textarea:focus ~ .emoji-picker{
    display: none;
}
.comment-option span{
    padding: 10px;
    font-size: 22px;
    color: rgb(121, 116, 116);
}
.comment-option:hover{
    opacity: 0.8;
}
.emoji-picker{
    position: absolute;
    right: 0;
    bottom: 100%;
    z-index: 999999;
    display: none;
}