.full-layout-code{
    overflow-x: hidden;
    background-color: #2c2c36;
}
.top-layout-code{
    background-color: #222431;
    height: auto;
    padding: 5px;
}
.top-layout-code .expand{
    color: #ffff;
    width: auto;
    background-color: #3c3b52;
    padding: 3px 8px;
    margin: 3px 8px 3px 2px;
}
.top-layout-code select{
    padding: 3px 8px;
    background-color: #222431;
    color: #ffff;
    border: 1px solid grey;
}
.top-layout-code .reload{
    float: right;
    background-color: #3c3b52;
    padding: 3px 8px;
    margin: 3px 8px;
    color: #ffff;
}
.body-layout-code .run-code{
    float: right;
    padding: 5px 20px;
    margin: 10px 10px 20px 0px;
}
.body-layout-code{
    margin-bottom: 215px;
    margin-left: 10px;
    margin-right: 10px;
}
.body-layout-code textarea,
.body-layout-code iframe {
    border: 2px solid gray;
    height: 700px;
    width: 100%;
    color: #ffff;
    background-color: #2c2c36;
}
.body-layout-code iframe {
    color: #ffff;
}
.full-layout-code .back-to-home{
    font-size: 1.7em;
    color: #4d4b68;
}