
.blog-page .menu-item{
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(48, 17, 223);
    font-weight: bold;
}
.blog-page .blog-content .content h3{
    text-align: center;
}
.blog-page .blog-content .content p{
    text-align: justify;
}