.upload-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upload-image .form-upload{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.form-upload .action label{
    margin: 0;
}
.form-upload .action p{
    padding: 5px;
    overflow: hidden; 
    font-size: 13px;
    flex-grow: 1;
    max-width: 150px;
    white-space: pre-wrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     display: -webkit-box;
}
.upload-image img{
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 25px
}