.login-other ul{
	text-align: center;
    list-style: none;
	margin-top: 15px;
	width: 100%;
}
.login-other li button{
	width: auto;
	height: auto;
	padding: 0 10px;
	margin: 0;
	background: 0;
	display: block;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 0;
	border: none;
}
.login-other li button:hover{
	opacity: 0.8;
}
.login-other ul li{
	display: inline-block;
	line-height: 30px;
}
.login-other ul .fb button{
	background: #3b5998;
}
.login-other ul .tw button{
	padding: 0 8px;
	background: #55acee;
	margin-left: 10px;
}
.login-other ul .gl button{
	padding: 0 8px;
	background: #e02f2f;
	margin-left: 10px;
}
.sign-in .group.forgot{
	display: flex;
	justify-content: space-between;
	padding: 0px 5px;
}