.myself-wrap{
    position: absolute;
    top: 100%;
    z-index: 999;
    min-width: 215px;
    right: 0;
    margin-top: 1rem;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.myself-wrap .myself-menu{
    width: 100%;
    background-color: rgb(219, 217, 217);
}
.myself-menu .avatar{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.7rem;
}
.myself-menu .action{
    vertical-align: bottom;
    margin-left: 1rem;
    text-align: center;
}
.myself-menu .action a{
    display: block;
    font-weight: bold;
}
.myself-menu .action button{
    border: none;
    background-color: rgb(10, 83, 126);
    color: #fff;
    padding: 2px 12px;
    border-radius: 4px;
}
.myself-menu img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.myself-wrap::after{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-right: 12px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent rgb(219, 217, 217) transparent;
    z-index: 999;
}
.myself-wrap .options{
    list-style: none;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
}
.myself-wrap .options li{
    padding: 9px 15px;
}
.myself-wrap .options li:hover, .option-logout:hover{
    background-color: #F0F0F0;
    text-decoration: none;
}
.myself-wrap .options li a, .option-logout a{
    color: #606266;
    text-decoration: none;
    display: block;
}
.option-logout{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 9px 15px;
}
.option-logout a:hover{
    text-decoration: none;
    color: #606266;
}