.btn-change-mode{
    border: none;
    margin-left: 0.7rem;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #000;
}
button.btn-change-mode:focus{
    outline: none;
}
button.btn-change-mode:hover{
    opacity: 0.7;
}