.blog-detail-page{
    padding: 2rem 0;
}
.blog-tags-list li:hover{
    cursor: pointer;
    opacity: 0.8;
}
.blog-tags-list li{
    background-color: #EBEBEB;
    border-radius: 5px; 
    padding: 5px 9px; 
    display: inline-block; 
    margin-right: 1rem;
}