.ck.ck-reset.ck-editor.ck-rounded-corners, .ck.ck-editor__main{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ck-content{
    flex-grow: 1;
    padding-bottom: -200px;
}
.editor-blog{
    height: 100%;
}
