button.btn-person{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
}
.btn-person img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
button.btn-person:focus{
    outline: none;
}
.btn-person:hover{
    opacity: 0.8;
}