.summary-blog{
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #d4d4d8;
    resize: none;
    margin-right: 10px;
    max-height: 200px;
    min-height: 175px;
    font-size: 15px;
}
